.header{
    display: flex;
    justify-content: space-between;
    padding: 20px;

}

.header_nav{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 50%;
}

.link {
    color: white;
    font-size: 20px;
    text-align: start;
    margin-bottom: 20px;
    align-self: start;
    cursor: pointer;
}

.link:hover {
    color: #ffa726;
}
